# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators * , 'hello', -87.8, -, / , +, 6.






 

Answer - Values are - 'hello', 6 & -87.8
Expressions are  - *, /, -, +

# 2.What is the difference between string and variable?

Answer - Variables are symbols that you can use to store data in a program. You can think of them as an empty box that you fill with some data or value

Strings are data, so we can use them to fill up a variable

# 3. Describe three different data types.
Answer - Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range

# 4.What is an expression made up of? What do all expressions do?
Answer - An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Answer - An expression evaluates to a single value. A statement does not.

# 6. After running the following code, what does the variable bacon contain? bacon = 22, bacon + 1

In [3]:
bacon = 22
bacon+1

23

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

Answer - 'spamspamspam'

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?
Answer - We can not specify the identifier which starts with a number because there are seven phases of compiler. None of above supports that a variable starts with a number. This is because the compiler gets confused if is a number or identifier until it reaches an alphabet after the numbers.

In [7]:
eggs = 10

In [8]:
eggs

10

In [9]:
100 = 50

SyntaxError: cannot assign to literal (922978670.py, line 1)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [10]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

# As per the above error we can note that we cannot add integer with str directly we have to convert int into str type then the above expression will work

In [13]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'